@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=MedievalSharp&display=swap');
@import "tailwindcss";


/* @import "tailwindcss/preflight"; */
@tailwind utilities;


@layer base {
  html, body {
    font-family: 'MedievalSharp', normal;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #706E66;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
